body {
  margin: 0px;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Container .Header {
  display: flex;
  flex: 0.5;
  justify-content: end;
  height: 20px;
  font-family: arial, sans-serif;
  font-size: 13px;
}
.Container .Header .Links {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
}
.Container .Header .Links a {
  color: black;
  text-decoration: none;
}
.Container .Header .Links :hover {
  text-decoration: underline;
}
.Container .Header .Links .Search {
  padding-left: 10px;
  padding-right: 10px;
}
.Container .ImageContainer {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.Container .ImageContainer .GoogleImage {
  margin-top: auto;
}
.Container .ImageContainer .GoogleImage .ImageSpan {
  position: relative;
}
.Container .ImageContainer .GoogleImage .ImageSpan span {
  color: #4285f4;
  font: 16px roboto-regular, arial, sans-serif;
  position: absolute;
  right: 0px;
  bottom: 0;
  white-space: nowrap;
}

.SearchBox {
  flex: 1;
}
.SearchBox .SearchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
}
.SearchBox .SearchForm .SearchInputContainer {
  display: flex;
  border: 1px solid #dfe1e5;
  align-items: center;
  border-radius: 24px;
  height: 44px;
  max-width: 550px;
  margin: auto;
}
.SearchBox .SearchForm .SearchInputContainer .SearchInput {
  border: 1px #ffffff;
  border-radius: 24px;
  height: 42px;
  width: 40vw;
  outline: none;
  font-size: 15px;
}
.SearchBox .SearchForm .SearchInputContainer img {
  height: 28px;
  margin-left: 13px;
  border-radius: 99px;
}
.SearchBox .SearchForm .SearchInputContainer img :hover {
  box-shadow: none;
}
.SearchBox .SearchForm .SearchInputContainer button {
  cursor: pointer;
  margin-right: 13px;
  border: none;
  background-color: white;
  border-radius: 99px;
}
.SearchBox .SearchForm :hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.SearchBox .SearchForm :hover img {
  box-shadow: none;
}
.SearchBox .SearchForm :hover .SearchInput {
  box-shadow: none;
}
.SearchBox .SearchForm :hover button {
  box-shadow: none;
}
.SearchBox .SearchForm .ButtonContainer {
  margin: auto;
}
.SearchBox .SearchForm .ButtonContainer .SearchButton {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  max-width: max-content;
  margin: auto;
  width: 250px;
  height: 40px;
  padding: 0px 20px;
}
.SearchBox .SearchForm .ButtonContainer .SearchButton .SearchButton {
  cursor: pointer;
}
.SearchBox .SearchForm .ButtonContainer .SearchButton a {
  color: black;
  text-decoration: none;
}
.SearchBox .SearchForm .ButtonContainer .SearchButton :hover {
  box-shadow: none;
}
.SearchBox .SearchForm .ButtonContainer :hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.Blank {
  flex: 3;
}

.Footer {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #7c7c7c;
  background-color: #e3e3e3;
}
.Footer .FooterStart {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.Footer .FooterEnd {
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
}
.Footer a {
  cursor: pointer;
  color: #7c7c7c;
  text-decoration: none;
}
.Footer span {
  padding: 20px 10px;
}
.Footer span :hover {
  text-decoration: underline;
}

/*# sourceMappingURL=google_image_style.css.map */
